/* 0、声明字体图标 */

@font-face {
    font-family: 'iconfont';
    /* 一定要更改路径！ */
    src: url('../font1/iconfont.woff2') format('woff2'), url('../font1/iconfont.woff') format('woff'), url('../font1/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 1、公共样式 */

.w {
    width: 1200px;
    margin: 0 auto;
}


/*2、 导航栏 */

.mug {
    height: 160px;
    /* background-color: rgb(211, 186, 186); */
}

.f1 {
    float: left;
    position: relative;
    /* background-color: rgb(130, 106, 106); */
}

.f2 {
    float: right;
    position: relative;
    /* background-color: rgb(155, 119, 119); */
    /* background-color: rgb(120, 109, 109); */
}

.logo {
    position: absolute;
    width: 300px;
    height: 146px;
    margin: 15px 0px;
    /* background-color: rgb(176, 174, 174); */
    /* background-color: #78746c; */
}

.logo a img {
    width: 300px;
    height: 146px;
}

.nav {
    position: absolute;
    float: left;
    left: 300px;
    top: 50px;
    width: 600px;
    height: 100px;
    font-size: 16px;
    text-align: center;
    /* background-color: rgb(145, 90, 90); */
}

.nav ul li {
    display: block;
    /* 浮动的父元素必须有宽高 */
    float: left;
    width: 80px;
    height: 40px;
    margin: 40px 20px 20px 0px;
    /* background-color: rgb(247, 216, 216); */
}

.nav ul li a {
    color: #8DA5B5;
}

.nav ul li a:hover {
    background-color: #8DA5B5;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}


/* 主页 */

.f2 ul {
    width: 350px;
    height: 100px;
}

.f2 ul li {
    float: right;
    display: block;
    width: 60px;
    height: 60px;
    margin: 60px 5px 5px 10px;
}

.f2 a {
    display: inline-block;
    font-family: 'iconfont';
    font-size: 40px;
}


/* 3、头部 */

.header {
    height: 100px;
    border-radius: 25px;
    /* background-color: rgb(179, 147, 147); */
}

.search {
    margin: 50px auto;
    top: 100px;
    width: 800px;
    height: 50px;
    /* background-color: rgb(187, 157, 157); */
    border: 2px solid #8DA5B5;
    border-radius: 15px;
    ;
}

.search input {
    width: 700px;
    height: 45px;
    border-radius: 15px 0 0 15px;
    padding: 0 15px;
    font-size: 16px;
}

.search button {
    font-family: 'iconfont';
    width: 92px;
    height: 45px;
    font-size: 20px;
    color: #f6f2e9;
    background-color: #8DA5B5;
    border-radius: 0px 12px 12px 0px;
}


/* 4、底部 */

.footer {
    height: 400px;
    /* background-color: #c7d5df; */
}

.logo1 {
    width: 250px;
    height: 250px;
    margin: 30px auto;
}

.logo1 img {
    width: 230px;
    height: 230px;
    transition: all 0.5s;
}

.logo1 img:hover {
    width: 240px;
    height: 240px;
}

.logo1 p {
    text-align: center;
    font-size: 16px;
}

.foot {
    position: relative;
    height: 210px;
    background-color: #a6bece;
}

.foot .f5 ul {
    float: left;
    width: 600px;
    margin: 20px;
}

.foot .f6 ul {
    float: right;
    width: 100px;
    margin: 20px;
}

.foot ul li {
    padding: 10px;
    font-size: 16px;
}

.foot a {
    color: #5b5959;
}

.foot a:hover {
    color: aquamarine;
}